body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #da7426;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  padding-bottom: 30px;
}

.header_section {
  padding: 3px 0;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header_section .container-fluid {
  padding: 0% 10%;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px !important;
}

.navbar-brand span {
  color: #da7426;
}

.navbar-brand:hover {
  color: #da7426;
}

.navbar_brand_mobile {
  display: none;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #da7426;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #da7426;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/* end header section */

.slider_section .detail-box {
  color: #da7426;
  margin-left: 15%;
}

.slider_section .detail-box h1 {
  font-weight: 600;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 3rem;
}

.slider_section .detail-box p {
  color: #6d6d6d;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #ffffff;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #ffffff;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #da7426;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #da7426;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: transparent;
  color: #da7426;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
  position: relative;
}

.about_section .detail-box p {
  color: #1f1f1f;
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #da7426;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #da7426;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #da7426;
}

.portfolio_section .heading_container {
  padding: 25px 0px;
}

.portfolio_section .filter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio_section .filter_box .owl-filter-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio_section .filter_box .owl-filter-bar button {
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 2px;
  margin: 5px 0;
}

.service_section {
  position: relative;
}

.service_section .box {
  margin-top: 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  padding: 25px 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .box .img-box {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .box .img-box img {
  max-height: 100%;
  max-width: 100%;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact_section .form_container {
  background-color: #003471;
  padding: 30px;
}

.contact_section .form_container .form-control {
  width: 100%;
  border: none;
  height: 30px;
  padding-left: 5px;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.contact_section .form_container .form-control::-webkit-input-placeholder {
  color: #565554;
}

.contact_section .form_container .form-control:-ms-input-placeholder {
  color: #565554;
}

.contact_section .form_container .form-control::-ms-input-placeholder {
  color: #565554;
}

.contact_section .form_container .form-control::placeholder {
  color: #565554;
}

.contact_section .form_container .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_section .form_container .btn_box button {
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 20px;
  background-color: #da7426;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #da7426;
}

.contact_section .form_container .btn_box button:hover {
  background-color: transparent;
  color: #da7426;
}

.contact_section .map_container {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.client_section .heading_container {
  margin-bottom: 45px;
}

.client_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.client_section .client_id h5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box .img-box {
  width: 145px;
  min-width: 145px;
  position: relative;
  border: 10px solid #da7426;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 34px;
  margin-left: 1px;
}

.client_section .box .detail-box p {
  margin: 0;
}

/* info section */
.info_section {
  position: relative;
  background-color: #252525;
  color: #ffffff;
  margin-top: 100px;
}

.info_section h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.info_section .info_logo .navbar-brand {
  font-size: 28px;
}

.info_section .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  width: 30px;
  height: 30px;
  background-color: #da7426;
  border-radius: 100%;
  margin-right: 5px;
}

.info_section p, .info_section li {
  margin-bottom: 0;
  color: #878585;
}

.info_section a {
  text-transform: none;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #878585;
}

.info_section .info_link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_bottom .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_contact {
  margin: 15px 0;
}

.info_section .info_contact .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  color: #ffffff;
}

.info_section .info_contact .link-box i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #da7426;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 10px;
}

.info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info_form form input{
  width: 90%;
}

.info_form form button {
  height: 30px;
  border: none;
  padding-left: 10px;
  width: 10%;
  height: 30px;
  background-color: #da7426;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 12px;
  margin: 0;
}

/* end info section */
/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #252525;
  padding: 15px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

/* added css */

.service_section .box {
  height: 90%;
}

#googleMap iframe {
  height: 100%;
}

.header_top p, .header_top a {
  font-size: 12px;
}

input:focus, textarea:focus{
  border-radius: 0px;
  outline: none;
}

html{
  scroll-behavior: smooth;
}

header .navbar-collapse{
  justify-content: space-between;
}

.home{
  color: #da7426 !important;
}

section{
  padding-top: 100px !important;
}

.portfolio_section .container{
  background-color: #003471;
  color: #ffffff;
}

.navbar-expand-lg{
  justify-content: space-between;
}

.con-list a{
  color: #FFF;
}

.service-button{
  padding: 5px 10px;
  color: #FFF;
  background-color: #da7426;
  border: 2px solid #da7426
}

.service-button:hover{
  color: #da7426;
  background-color: transparent;
}

#back{
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #da7426;
  color: #FFF;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  opacity: 0.8;
  border: none;
  outline: none;
}

#back:hover{
  opacity: 1;
  color: #FFF;
}

.blue{
  background-color: #003471;
  transition: all 0.5s;
}

.blur{
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

#hamburger{
  background-color: transparent;
  color: #FFF;
  font-size: 24px;
  outline: none;
  border: none;
  display: none;
}

textarea{
  height: 120px;
}

textarea::placeholder{
  color: #565554;
}

label{
  color: #FFF;
}

.swiper{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
}

.service_section button{
  border: 1px solid #da7426;
  outline: none;
}

.service_section p{
  display: none;
}

.load-screen{
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  transition: opacity 1s, visibility 1s;
}

.load-screen span{
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 53, 113, 0.3);
  border-top-color: #da7426;
  animation: circling 1.5s infinite;
  border-radius: 50%;
}

.load-screen-done{
  visibility: hidden;
  opacity: 0;
}

@keyframes circling{
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}

.modal {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0,0,0,0.6);
}

#modal1{
  transition: opacity 0.5s;
}

.modal-content {
  background-color: #FFF;
  margin-top: 10vh;
  height: 300px;
  overflow-x: hidden;
}

#modal2-content, #modal3-content, #modal4-content{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

#modal2 img, #modal3 img, #modal4 img{
  height: 300px;
}

#modal1-content{
  transition: opacity 0.5s;
}

.modal-content-appear{
  opacity: 1;
}

.modal-content span{
  cursor: pointer;
}

.modal h3{
  font-weight: bold;
}

.modal label{
  color: #252525;
}

.closet {
  color: #878585;
  position: relative;
  top: 0%;
  left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.closet:hover, .closet:focus{
  color: #000;
}

.arrow{
  padding: 10px;
  color: #FFF;
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  cursor: pointer;
}

.arrow i{
  font-size: 50px;
}

.arrow-left{
  top: calc(50% - 15px);
  left: 1%;
}

.arrow-right{
  top: calc(50% - 15px);
  right: 1%;
}

.indicators{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.indicator{
  display: block;
  margin: 0px 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #da7426;
  opacity: 0.6;
  cursor: pointer;
}

.indicator:hover{
  opacity: 1;
}

.arrow:hover{
  background-color: rgb(218, 116, 38, 0.8);
  opacity: 1;
}

.orange{
  opacity: 1;
}

.qandas{
  padding: 0 !important;
}

.qanda{
  padding: 0 !important;
  margin-bottom: 3px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
}

.qanda h6{
  background-color: #003471;
  color: #FFF;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.qanda p{
  display: none;
  padding: 10px;
  margin: 0;
}

.fade-in{
  opacity: 0;
  position: relative;
  top: -20px;
  transition: opacity .7s ease-in, top .7s ease-in;
}

.fade-in-after{
  opacity: 1;
  top: 0px;
}

#modal2, #modal3, #modal4{
  display: none;
}

.item{
  color: #FFF;
  background-color: transparent;
  outline: none;
  border: none;
}

.item:hover, .item:focus{
  outline: none;
  border: none;
}

.card-img-top{
  height: 150px;
}

.swiper-slide img{
  height: 150px;
}

.port-active{
  color: #003471 !important;
  background-color: #FFF;
}

.count p, .count i{
  color: #FFF;
}

.count i{
  font-size: 30px;
  margin-bottom: 20px;
}

.port-proj{
  top: 0;
  left: 0;
  height: 200px !important;
}

.desc{
  top: 0%;
  background-color: #FFF;
  opacity: 0;
  color: #da7426;
  z-index: 2;
  height: 100%;
}

.desc:hover{
  opacity: 0.8;
}

.numba{
  font-weight: bold;
  color: #da7426;
}

.author{
  height: 400px;
}

.info_section{
  padding-top: 50px !important; 
}

.cleaner{
  clear: both;
}

/* responsive css */

@media (max-width: 1300px) {
  .quote_btn-container {
    display: none;
  }

  .custom_nav-container .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 15px;
  }
}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .slider_section {
    padding: 75px 0;
  }

  .contact_section .form_container {
    background-color: #003471;
    padding: 45px 25px;
  }

  .header_section{
    position: static;
    background-color: #003471;
  }

  .navbar-brand, .navbar-nav{
    margin: 0px auto;
    width: 100%;
    text-align: center;
  }

  #hamburger{
    width: 100%;
    display: block;
  }

  .navbar-nav{
    display: none;
  }

  .port-proj{
    height: 150px;
  }
  
  .card-img-top{
    height: 100px;
  }
}

@media (max-width: 767px) {
  .slider_section .detail-box {
    text-align: center;
    margin: 0px auto;
    width: 50%;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
  }

  .about_section .img-box {
    margin-top: 45px;
  }

  .project_section .box .detail-box {
    opacity: 1;
    visibility: visible;
  }

  .contact_section .form_container .btn_box {
    justify-content: center;
  }

  .info_section .row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info_section .info_main .rov>div {
    margin-bottom: 25px;
  }

  .info_section .social_box {
    margin-bottom: 25px;
  }
  
}

@media (max-width: 576px) {
  .header_section .header_top .social_box {
    display: none;
  }

  .arrow i{
    font-size: 30px;
  }

  .header_section .header_top .contact_nav a {
    margin: 0;
    margin-left: 15px;
  }
  .client_section .box {
    flex-direction: column;
    align-items: center;
  }

  .client_section .box .detail-box {
    margin-top: 15px;
    margin-left: 0;
  }

  .port-proj{
    height: 300px;
  }
  
  .card-img-top{
    height: 250px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* added responsive css */
/*# sourceMappingURL=style.css.map */